[submodule "mms-modules"]
	path = mms-modules
	url = https://gitee.com/mmsAdmin/mms-modules.git
[submodule "mms-patulous"]
	path = mms-patulous
	url = https://gitee.com/mmsAdmin/mms-patulous.git
[submodule "mms-ui"]
	path = mms-ui
	url = https://gitee.com/mmsAdmin/mms-ui.git
[submodule "script"]
	path = script
	url = https://gitee.com/mmsAdmin/script.git
[submodule "mms-admin"]
	path = mms-admin
	url = https://gitee.com/mmsAdmin/mms-admin.git
