<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxpcwlkj.bbs.mapper.BbsTopicMapper">

    <select id="selectVoPageXml" resultType="com.sxpcwlkj.bbs.entity.vo.BbsTopicVo">
        SELECT 
        <if test="latitude != null and longitude != null">
            t.*,
            (
                6371 * acos(
                    cos(radians(#{latitude})) * cos(radians(m.latitude)) * 
                    cos(radians(m.longitude) - radians(#{longitude})) + 
                    sin(radians(#{latitude})) * sin(radians(m.latitude))
                )
            ) AS distance,
            COALESCE(l.like_count, 0) AS likeCount
        </if>
        <if test="latitude == null or longitude == null">
            t.*,
            COALESCE(l.like_count, 0) AS likeCount
        </if>
        FROM bbs_topic t
        <if test="latitude != null and longitude != null">
            LEFT JOIN store_member m ON t.member_id = m.id
        </if>
        LEFT JOIN (
            SELECT bbs_id, COUNT(*) as like_count
            FROM bbs_leve
            WHERE type = 1 AND status = 1
            GROUP BY bbs_id
        ) l ON t.id = l.bbs_id
        WHERE t.status = 1
        <if test="cateId != null and cateId != ''">
            AND t.cate_id = #{cateId}
        </if>
        <if test="keyWord != null and keyWord != ''">
            AND t.title LIKE CONCAT('%', #{keyWord}, '%')
        </if>
        <if test="memberId != null and memberId != ''">
            AND t.member_id = #{memberId}
        </if>
        <if test="attentionList != null and attentionList.size() > 0">
            AND t.member_id IN
            <foreach collection="attentionList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="topicIds != null and topicIds.size() > 0">
            AND t.id IN
            <foreach collection="topicIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <choose>
            <when test="latitude != null and longitude != null">
                ORDER BY distance ASC, l.like_count DESC, t.created_time DESC
            </when>
            <otherwise>
                ORDER BY l.like_count DESC, t.created_time DESC
            </otherwise>
        </choose>
    </select>
</mapper>
