<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxpcwlkj.mobile.mapper.StoreMapper">

    <!-- 需要后面追加 $ {sql}  开启条件查询 -->
    <select id="listPageXml" resultType="com.sxpcwlkj.mobile.entity.vo.StoreVo">
        SELECT * FROM `store`  <!-- $ {sql} -->
    </select>

</mapper>