<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxpcwlkj.store.mapper.StoreAttrValueMapper">

    <select id="selectListSpuId" resultType="com.sxpcwlkj.store.entity.StoreAttrValue">
        select v.* from store_attr_value_spu vspu
            left join store_attr_value v on vspu.attr_value_id=v.id
        where vspu.spu_id=#{spuId} and vspu.attr_key_id=#{attrKeyId}
        order by vspu.created_by;
    </select>
</mapper>
