<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxpcwlkj.store.mapper.StoreMemberDistributionMapper">

    <!-- 需要后面追加 $ {ew.customSqlSegment}  开启条件查询【注意取消$后的空格】 -->
<!--    <select id="listPageXml" resultType="com.sxpcwlkj.mobile.entity.vo.MemberDistributionVo">-->
<!--        SELECT * FROM `member_distribution`  &lt;!&ndash; $ {ew.customSqlSegment} &ndash;&gt;-->
<!--    </select>-->

</mapper>
